<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en" >
<head th:replace="/layouts/layout :: head">
    <title th:text="${title}"></title>
</head>
<body>

<div th:replace="/layouts/layout :: nav"></div>
<div class="container my-5 py-5 text-center">
    <h2 th:text="${title}"></h2>
<!--    <h2 th:if="${product.id == null}">Create New Product</h2>-->
<!--    <h2 th:unless="${product.id == null}">Update Product</h2>-->

    <hr>
    <div>
        <form th:action="@{/products/save}" th:object="${product}" method="POST"
              style="max-width=600px; margin :0 auto;">
            <input type="hidden" th:field="*{id}" th:value="${product.id}">
            <div class="mb-5">
                <div class="form-group row">
                    <label for="catename" class="col-form form-label col-sm-4">Product Name: </label>
                    <div class="col-sm-8">
                        <input type="text" th:field="*{name}" class="form-control" id="catename" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price" class="col-form form-label col-sm-4">Product Price : </label>
                    <div class="col-sm-8">
                        <input type="number" step="0.1" th:field="*{price}" class="form-control" id="price" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price" class="col-form form-label col-sm-4">Category : </label>
                    <div class="col-sm-8">
                        <select th:field="*{category}" class="form-control" required>
                            <th:block th:each="cat: ${listCategory}">
                                <option th:text="${cat.name}" th:value="${cat.id}">

                                </option>
                            </th:block>
                        </select>
                    </div>
                </div>

                <div class="text-center p-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
<footer th:replace="/layouts/layout :: footer"></footer>
</html>