<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en" >
<head th:replace="/layouts/layout :: head">
    <title>Add Todo Page </title>
</head>
<body>

<div th:replace="/layouts/layout :: nav"></div>
<div class="container my-5 py-5">
    <h2>Enter Todo Details</h2>
    <hr>
<!--@{/add-todo}-->
    <form method="post" th:object="${todo}">
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" th:feild="*{description}" required class="form-control" id="description" name="description">
        </div>

        <input type="submit" class="btn btn-primary"></input>
    </form>



</div>
</body>
<footer th:replace="/layouts/layout :: footer"></footer>
</html>