<!doctype html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en" >
<head th:replace="/layouts/layout :: head">
    <title th:text="${title}"></title>
</head>
<body>

<div th:replace="/layouts/layout :: nav"></div>
<div class="container my-5 py-5 text-center">
    <h2>Inventory Home Page</h2>
    <hr>
    <div class="p-2">
        <a class="h3" th:href="@{/categories}">List of Categories</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/categories/new}">Create Categories</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/products}">List of Product</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/products/new}">Create Products</a>
    </div>

    <div class="p-2">
        <a class="h3" th:href="@{/brands}">List of Brands</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/brands/new}">Create Brands</a>
    </div>



</div>
</body>
<footer th:replace="/layouts/layout :: footer"></footer>
</html>